<div class="container"> 
<h2>Update Your Tweet:</h2>
<form action="/tweets/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <textarea type="text" placeholder="Update the tweet" name="title" value="<%= @tweet.title %>" maxlength="140" rows="4" cols="60">What is new now? </textarea>
  <br>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
</div>
