<div class="container"> 
  <% if params[:search].blank? %>
    <h2>Search Box Is Empty</h2>
  <% else %>
    <h2>You are searching for <b> <%= params[:search] %> </b></h2>
  <% end %>

  <% if @users.present? %>
  <br>
  <div style="background: silver">
  <h3>Results: </h3>
    <% @users.each do |user| %>
     <h3><a href="/users/<%= user.id %>"> @<%= user.username %></a></h3>
    <% end %>
    <br>
    </div>
    <% else %>
    <h2>No User Matched Your Search</h2>
  <% end %>
</div>
