<div class="jumbotron text-right" style="padding-bottom: 454px;">
<div class="container">
  <h1>Meowzr</h1>
  <p>Connect with your friends and engage with the com-meow-nity. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>
<div class="col-sm-12">
    <form method=post action=/login>
    <input type=email placeholder="Email" name="user[email]" class="form-inline"><br>
    <input type=password placeholder="Password" name="user[password]" class="form-inline"></br>
    <input type=submit value="Log in" class="btn btn-default">
</form>
<%= @error if @error.present? %> 
<p style="font-size: 16px;">New to Meowzr? <a data-toggle="modal" data-target="#myModal" style="cursor: pointer; color: #5c2b0d; font-weight: bold;">Sign Up!</a></p>


</div>
</div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Join Meowzr today.</h4>
        </div>
        <div class="modal-body">
         <div class="container">
            <form method="post" action="/signup">
                <input type=text placeholder="Full name" name="name" class="form-inline" required><br>
                <input type=text placeholder="Username" name="username" class="form-inline" required><br>
                <input type=email placeholder="Email" name="email" class="form-inline" required><br>
                <input type=password placeholder="Password" name="password" class="form-inline" required><br>
                <input type=submit value="Sign up" class="btn btn-default">
            </form>
            <%= @signuperror if @signuperror.present? %> 
            </div>
     </div> <!-- /.modal-body -->
    </div><!-- /.modal-content -->
   </div> <!-- /.modal-dialog -->

  </div> <!-- /.modal-fade -->












